<table>
	<thead>
		<tr>
			<th width='500'>Task</th>
			<th>Urgency</th>
			<th>Importance</th>
			<th>Quadrant</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
	<% @tasks.each do |task| %>
		<tr>
			<td>
				<% if task.complete %>
					<strike><%= task.name %></strike>
				<% else %>
					<%= task.name %>
				<% end %>
			</td>

			<td>
				<%= task.urgency %>
			</td>

			<td>
				<%= task.importance %>
			</td>

			<td>
				TODO
			</td>

			<td>
				<% if task.complete %>
					<%= button_to 'unfinished', tasks_complete_path(id: task.id) %>
				<% else %>
					<%= button_to 'finished', tasks_complete_path(id: task.id) %>
				<% end %>

				<%= button_to 'clear', tasks_remove_path(id: task.id) %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
