<table class='list-table'>
	<thead>
		<th>Name</th>
		<th>Urgency</th>
		<th>Importance</th>
		<th>Options</th>
	</thead>

	<tbody>
	<% n = 0 %>
	<% @quads.each do |quad| %>

		<% n += 1 %>
		<% alternate = 1 %>

		<% quad.each do |task| %>

			<tr class='<%= "quadrant-#{n}" %> 
			<%= if alternate.even? then 'alternate-color' 
				else 'normal-color' 
				end %> 
			<%= 'task-complete' if task.complete %>'>

				<td>
					<% if task.complete %>
						<strike><%= task.name %></strike>
					<% else %>
						<%= task.name %>
					<% end %>
				</td>

				<td><%= task.urgency %></td>

				<td><%= task.importance %></td>

				<td>
					<%= link_to 'complete', tasks_complete_path(id: task.id), method: :post %>
					<%= link_to 'clear', tasks_remove_path(id: task.id), method: :delete %>
				</td>
			</tr>
			<% alternate += 1 %>
		<% end %>
	<% end %>
	</tbody>
</table>
