<div class='row'>
	<div class='col-xs-12'>
		<table class='table' id='tasks_table'>
			<thead>
				<tr class='table-header'>
					<th>Name</th>
					<th>Urgency</th>
					<th>Importance</th>
					<th>Quadrant</th>
					<th>Mean</th>
					<th>Options</th>
				</tr>
			</thead>

			<tbody>
			<% @tasks.each do |task| %>
				<tr class='<%= "quadrant-#{task.quadrant}" %>'>
					<td><%= task.name %></td>
					<td><%= task.urgency %></td>
					<td><%= task.importance %></td>
					<td><%= task.quadrant %></td>
					<td><%= task.mean %></td>
					<td>
						<%= link_to 'clear', task_path(task), method: :delete, remote: true %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
