<%= form_for :task, url: tasks_path, html: { remote: true } do |f| %>

	<div class='form-group'>
		<%= f.text_field :name, class: 'form-control', placeholder: 'name' %>
	</div>

	<div class='form-group'>
		<div class='input-group'>
			<%= f.text_field :urgency, class: 'form-control', placeholder: 'urgency' %>
			<div class='input-group-addon'>
				<input id='urgency-slider'/>
			</div>
		</div>
	</div>

	<div class='form-group'>
		<div class='input-group'>
			<%= f.text_field :importance, class: 'form-control', placeholder: 'importance' %>
			<div class='input-group-addon'>
				<input id='importance-slider' />
			</div>
		</div>
	</div>

	<div class='form-group'>
		<%= f.submit 'add task', class: 'btn btn-block add-button' %>
	</div>
<% end %>
